// Navigation Styles here

.top-content-text {
    display: flex;
    margin: 5% 0 5% 0;
    @media @mobile {
        flex-direction: column;
        margin-bottom: 2%;
    }
    h1 {
        @media @mobile {
        text-align: center;
        margin-bottom: 3%;
        font-size: 3rem;
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin-left: 38%;
        @media @mobile {
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
        }
        a {
            display: flex;
            text-decoration: none;
            align-items: center;
            color: black;
            font-size: 1.5rem;
        }
    }

}

