// Navigation Styles here

.top-content-text {
    display: flex;
    margin: 5% 0 5% 0;
    nav {
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin-left: 38%;
        a {
            display: flex;
            text-decoration: none;
            align-items: center;
            color: black;
            font-size: 1.5rem;
        }
    }

}

